data-factory/pipeline/For Years.json
{
	"name": "For Years",
	"properties": {
		"activities": [
			{
				"name": "Years",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"dataset": {
						"referenceName": "Year",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "For Each Year",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Years",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Years').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Slice Flow",
							"type": "ExecuteDataFlow",
							"dependsOn": [],
							"policy": {
								"timeout": "1.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataflow": {
									"referenceName": "Slice Flow",
									"type": "DataFlowReference",
									"parameters": {
										"file": {
											"value": "'@{pipeline().parameters.file}'",
											"type": "Expression"
										},
										"year": {
											"value": "@item().year",
											"type": "Expression"
										}
									}
								},
								"compute": {
									"coreCount": 8,
									"computeType": "General"
								},
								"traceLevel": "Fine"
							}
						}
					]
				}
			}
		],
		"parameters": {
			"file": {
				"type": "string"
			}
		},
		"annotations": [],
		"lastPublishTime": "2022-08-04T07:59:27Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}